/FALSE/FALSECompiler/bin
/FALSE/FALSECompiler/obj
/FALSE/FALSE/bin
/FALSE/FALSE/obj
/FALSE/FALIDE/bin
/FALSE/FALIDE/obj
/FALSE/ExLibris/ExLibris/bin
/FALSE/ExLibris/ExLibris/obj
/FALSE/ExLibris/ConsoleApplication1
/FALSE/ExLibris/ExLibris.v11.suo
/FALSE/FALSE.sln.DotSettings.user
/FALSE/FALSE.v11.suo
/FALSE/Tests/bin
/FALSE/Tests/obj
/FALSE/_ReSharper.FALSE
